<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eaca72">  <td>18/08/04 01:43:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutTestNayema.checkOutTest()[pri:0, instance:com.broadleaf.test.CheckoutTestNayema@3bd82cf5]">checkOutTest</td> 
  <td>main@101775274</td>   <td></td> </tr>
<tr bgcolor="eaca72">  <td>18/08/04 01:43:29</td>   <td>11361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckoutTestNayema.testFinish()[pri:0, instance:com.broadleaf.test.CheckoutTestNayema@3bd82cf5]">&lt;&lt;testFinish</td> 
<td>&nbsp;</td>  <td>main@101775274</td>   <td></td> </tr>
<tr bgcolor="eaca72">  <td>18/08/04 01:43:14</td>   <td>-3199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckoutTestNayema.testStart()[pri:0, instance:com.broadleaf.test.CheckoutTestNayema@3bd82cf5]">&gt;&gt;testStart</td> 
<td>&nbsp;</td>  <td>main@101775274</td>   <td></td> </tr>
</table>
